{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
  
<section class="featured-collection pb-5">
  
  {% if section.settings.title != blank %}
    <div class="section-header">
      <h2 class="h4 mx-5 mb-3 text-light">{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}
    {% if collection.products.size > 1 %}
    <div class="owl-carousel owl-theme">
      {% for product in collection.products limit: 24 %}
        <a href="{{ product.url | within: collection }}" class="card position-relative overflow-hidden">
          {% if product.featured_image != blank %}
            <img class="card-img-top owl-lazy" data-src="{{ product.featured_image.src | img_url: '1600x1600' }}" alt="{{ product.vendor | escape }}: {{ product.title | escape }}">
          {% endif %}
          <div class="card-cover"></div>
          <div class="card-body text-center position-absolute w-100 h-100 d-flex justify-content-center flex-column align-items-center">
            <small class="card-date text-white m-0">{{ product.title | escape }}</small>
            <h5 class="card-title h5 text-white">{{ product.vendor | escape }}</h5>
            <span class="icon-play mt-2">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa fa-play fa-stack-1x fa-inverse"></i>
              </span>
            </span>
          </div>
        </a>
  {% endfor %}
  {% endif %}
  </div>

</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Trending"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
