<div class="bg-gradient-dark" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  {% assign product_bought = false %}
  {% for order in customer.orders %}
    {% for line_item in order.line_items %}
      {% if line_item.product_id == product.id %} 
        {% assign product_bought = true %}
        {% assign video_order = order  %}
      {% endif %}	
    {% endfor %}
  {% endfor %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  <div class="mx-auto max-width-4 position-relative">
    {% if product_bought == true %}
      {% if current_variant.sku == 'LIVE' %}
      <a class="d-block" href='/pages/live'>
        <img src="{{ featured_image.src | img_url: '1600x1600' }}" alt="{{ featured_image.alt | escape }}">
        <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center" style="top: 0; left: 0;">
          <span class="btn btn-primary btn-circle btn-lg px-5">Watch Now</span>
        </div>
      </a>
      {% else %}
      <a class="d-block" href='/apps/downloads/customers/{{customer.id}}/orders/{{video_order.id}}/shopify_show'>
        <img src="{{ featured_image.src | img_url: '1600x1600' }}" alt="{{ featured_image.alt | escape }}">
        <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center" style="top: 0; left: 0;">
          <span class="btn btn-primary btn-circle btn-lg px-5">Watch Now</span>
        </div>
      </a>
      {% endif %}
    {% else %}
    <a class="d-block" href="/cart/{{ current_variant.id }}:1">
      <img src="{{ featured_image.src | img_url: '1600x1600' }}" alt="{{ featured_image.alt | escape }}">
      <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center" style="top: 0; left: 0;">
        <span class="btn btn-primary btn-circle btn-lg px-5">Watch Now</span>
      </div>
    </a>
    {% endif %}
  </div>
  <div class="py-4 text-center">
    <h1 class="h2 text-light">{{product.vendor | escape }}</h1>
    <p class="pb-0">{{product.title | escape}}</p>
  
  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  {% endif %}
  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
