<h1 class="p-5 text-light text-center">{{ 'customer.account.title' | t }}</h1>
<h2 class="text-light pb-5" style="padding-left: 2rem; padding-right: 2rem">Videos</h2>
<section class="pb-5" style="padding-left: 2rem; padding-right: 2rem">
  <div class="row">
    {% for order in customer.orders %}
      {%- assign product = order.line_items.first.product -%}
      <div class="col-lg-4 col-sm-6" style="padding-bottom: 2rem">
        {% if product.variants.first.sku == 'LIVE' %}
        <a href="/pages/live" class="card position-relative overflow-hidden">
        {% else %}
        <a href="/apps/downloads/customers/{{customer.id}}/orders/{{order.id}}/shopify_show" class="card position-relative overflow-hidden">
        {% endif %}
          {% if product.featured_image != blank %}
            {% include 'responsive-image' with
              image: product.featured_image,
              max_width: 480,
              max_height: 480,
              class: 'card-img-top owl-lazy'
            %}
          {% endif %}
          <div class="card-cover"></div>
          <div class="card-body text-center position-absolute w-100 h-100 d-flex justify-content-center flex-column align-items-center">
            <small class="card-date text-white m-0">{{ product.title | escape }}</small>
            <h5 class="card-title h5 text-white">{{ product.vendor | escape }}</h5>
            <span class="icon-play mt-2">
              <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa fa-play fa-stack-1x fa-inverse"></i>
              </span>
            </span>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>
{% comment %} <div class="px-5">




<h2 class="text-light">{{ 'customer.orders.title' | t }}</h2>


{% paginate customer.orders by 20 %}
  {% if customer.orders.size != 0 %}
    <table class="responsive-table table">
      <thead>
        <tr>
          <th>{{ 'customer.orders.order_number' | t }}</th>
          <th>{{ 'customer.orders.date' | t }}</th>
          <th>{{ 'customer.orders.payment_status' | t }}</th>
          <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
          <th>{{ 'customer.orders.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
          <tr class="responsive-table-row">
            <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
            <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
            <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
            <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
            <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{{ 'customer.orders.none' | t }}</p>
  {% endif %}

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}

<h2 class="mt-5 text-light">{{ 'customer.account.details' | t }}</h2>

{{ customer.default_address | format_address }}

<a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>

</div> {% endcomment %}